body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: #F5F5F5;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 100%;
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
}

.section_1 {
  background: url("../images/bg_crop.jpg");
  background-repeat: no-repeat;
  padding-top: 30px;
  background-size: cover;
  background-position: bottom;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_info_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_info_wrapper .hours_title {
  color: #fff;
  text-transform: uppercase;
}

.header_info_wrapper .hours_cont {
  color: #fff;
  margin-top: 10px;
  display: inline-block;
}

.hours_wrapper {
  position: relative;
  margin-right: 64px;
}

.hours_wrapper::before {
  content: "";
  position: absolute;
  background-image: url(../images/icons/watch-removebg-preview.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  background-size: contain;
  top: -5px;
  left: -56px;
  margin: auto;
}

.hours_wrapper .hours_title {
  color: #000;
}

.hours_wrapper .hours_cont {
  color: #000;
  margin-top: 10px;
}

.phone_wrapper {
  position: relative;
  margin-right: 33px;
}

.phone_wrapper::before {
  content: "";
  position: absolute;
  background-image: url(../images/icons/call.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 60px;
  top: 1px;
  left: -43px;
  margin: auto;
}

.phone_wrapper .hours_title {
  color: #000;
}

.phone_wrapper .hours_cont {
  color: #000;
  margin-top: 10px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.nav .nav_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav_left .nav_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav_left .nav_ul .nav_link {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  padding: 25px 30px;
}

.nav .nav_left .nav_ul .nav_link:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #C40B0B;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.nav .nav_left .nav_ul .nav_link:hover,
.nav .nav_left .nav_ul .nav_link:focus,
.nav .nav_left .nav_ul .nav_link:active {
  color: white;
}

.nav .nav_left .nav_ul .nav_link:hover:before,
.nav .nav_left .nav_ul .nav_link:focus:before,
.nav .nav_left .nav_ul .nav_link:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.header_btn {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: #C40B0B;
  padding: 14px 10px;
  margin-top: 48px;
}

.header_btn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.header_btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2c0000;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.header_btn:hover,
.header_btn:focus,
.header_btn:active {
  color: white;
}

.header_btn:hover:before,
.header_btn:focus:before,
.header_btn:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.hero_title {
  padding-top: 71px;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 56px;
  width: 700px;
  color: #000;
}

.hero_btn {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: #C40B0B;
  padding: 14px 10px;
  margin-top: 48px;
}

.hero_btn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hero_btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2c0000;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hero_btn:hover,
.hero_btn:focus,
.hero_btn:active {
  color: white;
}

.hero_btn:hover:before,
.hero_btn:focus:before,
.hero_btn:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.hero {
  padding-bottom: 236px;
}

.header_logo {
  width: 100px;
}

.shop_icon {
  margin-right: 10px;
}

.search_icon {
  margin-right: 50px;
}

.burger {
  display: none;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.burger .crossed {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.burger__line {
  width: 24px;
  height: 1px;
  background-color: #2d314d;
  display: block;
  margin-bottom: 4px;
}

.burger__line:last-child {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  margin-bottom: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.burger__line:first-child {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.crossed .burger__line:nth-child(2) {
  visibility: hidden;
}

.crossed .burger__line:first-child {
  -webkit-transform: rotate(-45deg) translate(1px, 3px);
          transform: rotate(-45deg) translate(1px, 3px);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.crossed .burger__line:last-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#2D314D), to(rgba(45, 49, 77, 0.0001)));
  background: linear-gradient(180deg, #2D314D 0%, rgba(45, 49, 77, 0.0001) 100%);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  z-index: 1;
}

.overlay.visible {
  height: 100%;
}

.toggle {
  margin: 0 !important;
}

.logo_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.switch_wrapper {
  position: fixed;
  z-index: 1999;
  right: 250px;
  top: 80px;
}

.switch {
  position: fixed;
  top: 0;
  left: 0;
}

.section-2-top {
  background-color: #fff;
  width: 1020px;
  height: 700px;
  background-image: url('../images/Gears.png');
  background-repeat: no-repeat;
  background-position: right top;
  margin-top: -80px;
}

.section-2-top_subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #4B4B4B;
  padding-top: 100px;
  width: 450px;
  margin-left: 87px;
}

.section-2-top_title {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #02133C;
  margin-top: 33px;
  width: 583px;
  margin-left: 87px;
}

.section-2-top_content {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #4B4B4B;
  width: 846px;
  margin: 0 auto;
  margin-top: 36px;
}

.section-2-top_img {
  width: 846px;
  height: 400px;
  margin-top: 40px;
  margin-left: 87px;
}


.section-2-bottom  {
  margin-top: 230px;
}

.section-2-bottom_subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #4B4B4B;
  position: relative;
  margin-left: 30px;
}

.section-2-bottom_subtitle::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/toggle.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  top: 0px;
  left: -36px;
  margin: auto;
}

.section-2-bottom_info {
  display: flex;
  margin-left: -27px;
}

.section-2-bottom_title {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #02133C;
  margin-top: 33px;
}

.info-1_title {
  font-style: normal;
  font-weight: 900;
  font-size: 19px;
  line-height: 26px;
  color: #02133C;
}

.info-1_text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #4B4B4B;
}

.info-1 {
  margin-top: 72px;
  margin-left: 83px;
  position: relative;
}

.info-1:first-child::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/cardimg1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 125px;
  height: 63px;
  top: -3px;
  left: -93px;
  margin: auto;
}

.info-1:nth-child(2)::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/cardimg2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 125px;
  height: 63px;
  top: -3px;
  left: -93px;
  margin: auto;
}

.info-1:last-child::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/cardimg3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 125px;
  height: 63px;
  top: -3px;
  left: -93px;
  margin: auto;
}

.setion-3 {
  background-image: url('../images/forbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 130px;
}

.setion-3_inner {
  display: flex;
  justify-content: flex-end;
  padding-top: 123px;
  padding-bottom: 129px;
}

.video_text {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
  width: 411px;
}

.play_btn {
  margin-top: 7px;
}

.section-4 {
  background-image: url('../images/bgimg_org.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -15px -155px;
}

.section-4_inner {
  padding-bottom: 122px;
}

.section-4_subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #4B4B4B;
  padding-top: 108px;
}

.section-4_title {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #02133C;
  margin-top: 78px;
}

.section-4_topcard {
  display: flex;
  margin-top: 78px;
}

.section-4_bottomcard {
  display: flex;
}

.card {
  background: #FFFFFF;
  width: 324px;
  height: 340px;
  text-align: center;
  margin-right: 24px;
  margin-bottom: 24px;
  transition: all ease 0.5s;
  position: relative;
  
}

.card:hover {
  box-shadow: 0px 14px 28px -11px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 14px 28px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 28px -11px rgba(0, 0, 0, 0.75);
  opacity: 0.8;
  transform: scale(1.01);
}

.card:active {
  opacity: 0.6;
  transform: scale(0.99);
}

.card_img {
  padding-top: 50px;
  width: 155px;
  height: 195px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.card_title {
  font-style: normal;
  font-weight: 900;
  font-size: 19px;
  line-height: 26px;
  text-align: center;
  color: #02133C;
  width: 235px;
  margin: auto;
  margin-top: 33px;
  margin-top: 150px;
}

.card_text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #4B4B4B;
  margin: auto;
  margin-top: 20px;
  width: 235px;
}

.section-4_btn {
  display: inline-block;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #C40B0B;
  padding: 14px 10px;
  margin-top: 48px;
  margin-left: 465px;

}

.section-4_btn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.section-4_btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2c0000;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.section-4_btn:hover,
.section-4_btn:focus,
.section-4_btn:active {
  color: white;
}

.section-4_btn:hover:before,
.section-4_btn:focus:before,
.section-4_btn:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.dark-icon {
  width: 150px ;
  height: 150px ;
}

.dark-mode {
  width: 150px;
  height: 150px;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]+label {
  /* border: 3px solid #dfdfdf; */
  display: block;
  background-color: #fff;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  /* margin-bottom: 30px; */
  /* padding: 15px; */
}

input[type=checkbox]:hover+label {
  /* border: 3px solid #8898C6; */
}

input[type=checkbox]:checked+label {
  /* border: 3px solid #8898C6; */
  transform: rotate(180deg);
}

.section-5 {
  background: #3b3b3d;
}

.section-5-inner {
  display: flex;
}

.map {
  padding-top: 130px;
  padding-bottom: 210px;
  width: 585px;
  height: 640px;
}

.followers {
  margin-left: 108px;
  text-align: center;
}

.followers-title {
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 215px;
}

.followers-numb {
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #C40B0B;
  margin-top: 45px;
  margin-left: 45px;
}

.followers-numb2 {
  margin-left: 25px;
}

.followers-subtitle {
  font-style: normal;
  font-weight: 900;
  font-size: 19px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 46px;
}

.section-5 {
  background-image: url('../images/Gears.png');
  background-repeat: no-repeat;
  background-size: 1033px 750px;
  background-position: right top;
}

.in_sm {
  margin-top: 20px;
  font-style: normal;
  font-weight: 900;
  font-size: 19px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}


.thumbnail_slider_area {
  display: none;
}

.section-7 {
  background-color:#02133C;
  background-image: url('../images/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-top: 200px; */
}

.section-7-top {
  display: flex;
  padding-top: 100px;
}

.section-7-bottom {
  padding-bottom: 212px;
}

.section-7-subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #D5D5D5;
}

.section-7-title {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
  width: 411px;
  margin-top: 33px;
}

.section-7-top_right {
  margin-left: 140px;
  margin-top: -180px;
  z-index: 88;
}

.section-7-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 86px;
}

.mini-card {
  display: flex;
}

.mini-card-img {
  width: 54px;
  height: 76px;
}

.mini-card_numb {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #C40B0B;
}

.mini-card_cont {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #F5F5F5;
}

.footer-top {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -72px;
}

.footer-top-left {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  color: #02133C;
  width: 562px;
  padding-top: 43px;
  padding-bottom: 48px;
}

.footer-top-right {
  display: inline-block;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #C40B0B;
  padding: 14px 10px;

}

.footer-top-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.footer-top-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2c0000;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.footer-top-right:hover,
.footer-top-right:focus,
.footer-top-right:active {
  color: white;
}

.footer-top-right:hover:before,
.footer-top-right:focus:before,
.footer-top-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.footer-logo {
  width: 100px;
  height: 120px;
}

.footer-logo-name {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  color: #000;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 88px;
}

.footer-middle-text{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.15px;
  color: #4B4B4B;
  width: 235px;
  margin-top: 23px;
}

.footer-sm {
  margin-top: 35px;
}

.footer-bottom {
  background: #02133C;
}
.footer-bottom-inner {
  display: flex;
  justify-content: space-between;
  padding: 23px 0 18px 0;
}

.footer-bottom-left {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.15px;
  color: #959595;
}

.footer-bottom-right {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.15px;
  color: #959595;
}































@media screen and (max-width: 576px) {
  .container {
    width: auto;
    margin: 0 auto;
    padding: 0 15px;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background: #424242;
  }
  .section_1 {
    background-image: url("../images/bg_2.jpg");
    background-repeat: no-repeat;
    padding-top: 30px;
    background-size: cover;
    position: relative;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_info_wrapper {
    display: block;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 27px;
  }
  .header_info_wrapper .hours_title {
    color: #fff;
    text-transform: uppercase;
  }
  .header_info_wrapper .hours_cont {
    color: #fff;
  }
  .burger {
    margin-top: 29px;
    display: block;
    z-index: 99;
  }
  .hours_wrapper {
    display: none;
    position: relative;
    margin-right: 64px;
  }
  .hours_wrapper::before {
    content: "";
    position: absolute;
    background-image: url("../images/icons/time.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    top: 0px;
    left: -30px;
    margin: auto;
  }
  .hours_wrapper .hours_title {
    color: #000;
  }
  .hours_wrapper .hours_cont {
    color: #000;
    margin-top: 10px;
  }
  .phone_wrapper {
    display: none;
    position: relative;
    margin-right: 33px;
  }
  .phone_wrapper::before {
    content: "";
    position: absolute;
    background-image: url("../images/icons/phone.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    top: 0px;
    left: -30px;
    margin: auto;
  }
  .phone_wrapper .hours_title {
    color: #000;
  }
  .phone_wrapper .hours_cont {
    color: #000;
    margin-top: 10px;
  }
  .nav {
    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
  }
  .nav .nav_left {
    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav .nav_left .nav_ul {
    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav .nav_left .nav_ul .nav_link {
    display: none;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    padding: 25px 30px;
  }
  .nav .nav_left .nav_ul .nav_link:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #C40B0B;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .nav .nav_left .nav_ul .nav_link:hover,
  .nav .nav_left .nav_ul .nav_link:focus,
  .nav .nav_left .nav_ul .nav_link:active {
    color: white;
  }
  .nav .nav_left .nav_ul .nav_link:hover:before,
  .nav .nav_left .nav_ul .nav_link:focus:before,
  .nav .nav_left .nav_ul .nav_link:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }
  .header_btn {
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    background: #C40B0B;
    padding: 14px 10px;
    margin-top: 48px;
  }
  .header_btn {
    display: none;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .header_btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2c0000;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .header_btn:hover,
  .header_btn:focus,
  .header_btn:active {
    color: white;
  }
  .header_btn:hover:before,
  .header_btn:focus:before,
  .header_btn:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }
  .hero_title {
    padding-top: 71px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 25px;
    max-width: 300px;
    color: #000;
  }
  .hero_btn {
    display: inline-block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    background: #C40B0B;
    padding: 14px 10px;
    margin-top: 48px;
  }
  .hero_btn {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .hero_btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2c0000;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hero_btn:hover,
  .hero_btn:focus,
  .hero_btn:active {
    color: white;
  }
  .hero_btn:hover:before,
  .hero_btn:focus:before,
  .hero_btn:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }
  .hero {
    padding-bottom: 46px;
    margin-top: 100px;
  }
  .header_logo {
    width: 100px;
  }
  .shop_icon {
    margin-right: 10px;
  }
  .search_icon {
    margin-right: 50px;
  }
}
/*# sourceMappingURL=main.css.map */