body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: #F5F5F5;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 100%;
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
}

.section_1 {
  background-image: url("../images/bg_2.jpg");
  background-repeat: no-repeat;
  padding-top: 30px;
  background-size: 100vw 100vh;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_info_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 27px;
}

.header_info_wrapper .hours_title {
  color: #fff;
}

.header_info_wrapper .hours_cont {
  color: #fff;
}

.hours_wrapper {
  position: relative;
  margin-right: 64px;
}

.hours_wrapper::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/time.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  top: 0px;
  left: -30px;
  margin: auto;
}

.hours_wrapper .hours_title {
  color: #000;
}

.hours_wrapper .hours_cont {
  color: #000;
  margin-top: 10px;
}

.phone_wrapper {
  position: relative;
  margin-right: 33px;
}

.phone_wrapper::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/phone.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  top: 0px;
  left: -30px;
  margin: auto;
}

.phone_wrapper .hours_title {
  color: #000;
}

.phone_wrapper .hours_cont {
  color: #000;
  margin-top: 10px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.nav .nav_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav_left .nav_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav_left .nav_ul .nav_link {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  padding: 25px 30px;
}

.nav .nav_left .nav_ul .nav_link:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #C40B0B;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.nav .nav_left .nav_ul .nav_link:hover,
.nav .nav_left .nav_ul .nav_link:focus,
.nav .nav_left .nav_ul .nav_link:active {
  color: white;
}

.nav .nav_left .nav_ul .nav_link:hover:before,
.nav .nav_left .nav_ul .nav_link:focus:before,
.nav .nav_left .nav_ul .nav_link:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.header_btn {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: #C40B0B;
  padding: 14px 10px;
  margin-top: 48px;
}

.header_btn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.header_btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2c0000;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.header_btn:hover,
.header_btn:focus,
.header_btn:active {
  color: white;
}

.header_btn:hover:before,
.header_btn:focus:before,
.header_btn:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.hero_title {
  padding-top: 71px;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 56px;
  width: 700px;
  color: #000;
}

.hero_btn {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: #C40B0B;
  padding: 14px 10px;
  margin-top: 48px;
}

.hero_btn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hero_btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2c0000;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hero_btn:hover,
.hero_btn:focus,
.hero_btn:active {
  color: white;
}

.hero_btn:hover:before,
.hero_btn:focus:before,
.hero_btn:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.hero {
  padding-bottom: 200px;
}

.header_logo {
  width: 100px;
}

.shop_icon {
  margin-right: 10px;
}

.search_icon {
  margin-right: 50px;
}
/*# sourceMappingURL=main.css.map */